<div class="movie-item"
     [class.__selected]="movie.isSelected"
>
  <img [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"
       width="165px"
       height="240px"
       alt="{{ movie.title }}"
       loading="lazy"
  >
  <div class="movie-item__description">
    <div class="movie-item__description__title-block">
      {{ movie.title }}
    </div>
    <div class="movie-item__description__date-favourite-block">
      {{ movie.release_date || '' }}
      <div [innerText]="movie.inFavorites ? '★' : '☆'"
           class="favorite-icon"
      >
      </div>
    </div>
  </div>
</div>
