<div class="movie-item"
     [class.movie-item__selected]="movie.isSelected"
>
  <img [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"
       width="165px"
       height="240px"
       alt="{{ movie.title }}"
       loading="lazy"
  >
  <div class="movie-item__description">
    <div class="movie-item__description__title-block"
         [class.movie-selected]="movie.isSelected"
    >
      {{ movie.title }}
    </div>
    <div class="movie-item__description__date-favourite-block">
      <div class="movie-item__description__date"
           [class.movie-selected]="movie.isSelected"
      >
        {{ movie.release_date ? (movie.release_date | date:'dd.MM.yyyy.') : 'No Release Date' }}
      </div>
      <span [innerText]="movie.inFavorites ? '★' : '☆'"
            class="favorite-icon"
            [class.favorite-icon__movie-selected]="movie.isSelected"
            (click)="toggleFavourites()"
      >
      </span>
    </div>
  </div>
</div>
