<p>movie-item works!</p>
<div class="movie-item">
  <img [src]="'https://image.tmdb.org/t/p/w200/' + movie.poster_path"
       width="165px"
       height="240px"
       alt="{{ movie.title }}"
  >
  <div class="movie-item__description">
    <div class="movie-item__description__title-block">
      {{ movie.title }}
    </div>
    <div class="movie-item__description__date-favourite-block">
      {{ movie.release_date || '' }}
      <span class="favorite-icon" (click)="toggleFavorite()">
    {{ movie.inFavorites ? '★' : '☆' }}
  </span>
    </div>
  </div>
</div>
